@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Music</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/library/z.jpg" title="OFF-WHITE X AIR Jordan 1" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Virgil Abloh constructs a new sense of visual form.
                    <a class="btn btn-default" href="https://localhost:44384/Teams">
                        Choose more
                    </a>
                </p>
            </div>
        </div>
       
        
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    </div>
 </div>
